@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
    --font-family: "Roboto", sans-serif;
    --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

    --color-bg: #09182e;
    --color-footer: #011933;
    --color-blog: #043464;
    --color-text: #90c0f0;
    --color-subtext: #f79782;
}
